body{

font-family:
sans-serif;

background:#f3f5ef;

margin:0;

padding:20px;

}



header{

text-align:center;

}



section{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:15px;

}



button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#527a52;

color:white;

font-size:16px;

}



textarea{

width:100%;

height:100px;

margin-top:15px;

}



input[type="checkbox"]{

margin:10px;

}



.hidden{

display:none;

}



.card{

margin-top:20px;

padding:15px;

background:#fafafa;

border-radius:10px;

}



.card img{

width:100%;

border-radius:10px;

}