body{

font-family:sans-serif;

background:#f3f5ef;

margin:0;

padding:20px;

}


header{

text-align:center;

}


section{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:15px;

}



button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#527a52;

color:white;

font-size:16px;

}



input,
textarea{

width:100%;

box-sizing:border-box;

margin-top:10px;

margin-bottom:15px;

padding:12px;

font-size:16px;

}


textarea{

height:100px;

}


.hidden{

display:none;

}



.card{

background:#fafafa;

padding:15px;

margin-top:15px;

border-radius:10px;

}



.card img{

width:100%;

border-radius:10px;

}

#garden{

position:relative;

height:500px;

background:#eaf3e4;

border-radius:20px;

overflow:hidden;

}


.plant{

position:absolute;

width:100px;

cursor:pointer;

text-align:center;

}


.plant img{

width:80px;

height:80px;

object-fit:cover;

border-radius:50%;

}


.plant p{

font-size:12px;

}


.delete{

margin-top:5px;

font-size:12px;

}